body {
  background: rgb(246, 243, 249);
    background: linear-gradient(163deg, rgba(246, 243, 249, 1) 14%, rgba(112, 137, 174, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}